<div class="card">
    <!--<p-toast /> -->
    {{ productos() }}
    <p-toolbar class="mb-6">
        <ng-template #start>
            <p-button label="Nuevo Producto" icon="pi pi-plus" class="mr-2" (onClick)="openNew()" />
        </ng-template>

        <ng-template #end>
            <p-button label="Export" icon="pi pi-upload" severity="secondary" (onClick)="exportCSV()" />
        </ng-template>
    </p-toolbar>

    <p-table #dt [value]="productos()" [rows]="5" [lazy]="true" [totalRecords]="totalRecords()" [paginator]="true" (onLazyLoad)="cargarDatos($event)" [rowHover]="true" dataKey="id"
        currentPageReportTemplate="Mostrando {first} de {last} hasta {totalRecords} productos"
        [showCurrentPageReport]="true">
        <ng-template #caption>
            <div class="flex items-center justify-between">
                <h5 class="m-0">Gestionar Productos</h5>

            </div>
        </ng-template>
        <ng-template #header>
            <tr>
                <th style="min-width: 2rem">ID</th>
                <th pSortableColumn="nombre" style="min-width:16rem">
                    <div class="flex items-center gap-2">
                        Nombre
                        <p-sortIcon field="name" />
                    </div>
                </th>
                <th>Marca</th>
                <th>Descripción</th>
                <th>Precio Venta</th>


                <th>Imagen</th>

                <th pSortableColumn="category" style="min-width:6rem">
                    <div class="flex items-center gap-2">
                        Categoria
                        <p-sortIcon field="category" />
                    </div>
                </th>
                <th style="min-width: 12rem"></th>
            </tr>
        </ng-template>

        <ng-template #body let-product>
            <tr>
                <td style="min-width: 2rem">{{ product.id }}</td>
                <td style="min-width: 8rem">{{ product.nombre }}</td>
                <td style="min-width: 2rem">{{ product.marca }}</td>
                <td style="min-width: 8rem">{{ product.descripcion }}</td>
                <td style="min-width: 6rem">{{ product.precio_venta_actual }}</td>

                <td>
                    @if (product.imagen) {
                        <p-image [src]="`${urlBackendApi()}/${product.imagen}`"  width="80" [alt]="product.imagen" [preview]="true" />

                        <!--
                        <img [src]="`${urlBackendApi()}/${product.imagen}`" [alt]="product.imagen" style="width: 64px"
                            class="rounded" />
                            -->

                    }
                </td>
                <td>{{ product.categoria }}</td>
                <td>

                    <p-button icon="pi pi-image" class="mr-2" [rounded]="true" [outlined]="true"
                        (click)="editDialogImagen(product)" />

                    <p-button icon="pi pi-pencil" class="mr-2" [rounded]="true" [outlined]="true"
                        (click)="editProduct(product)" />
                    <p-button icon="pi pi-trash" severity="danger" [rounded]="true" [outlined]="true"
                        (click)="deleteProduct(product)" />
                </td>
            </tr>
        </ng-template>
    </p-table>

    <p-dialog [(visible)]="productDialog" [style]="{ width: '450px' }" header="Detalles de Producto" [modal]="true">
        <ng-template #content>

            {{productoForm.value |json}}
            <div class="flex flex-col gap-6" [formGroup]="productoForm">
               
                <div>
                    <label for="name" class="block font-bold mb-3">Nombre</label>
                    <input type="text" pInputText id="name"  required autofocus fluid formControlName="nombre" />
                    @if (submitted() && !producto().nombre) {
                        <small class="text-red-500">Nombre es obligatorio</small>
                    }
                </div>
                <div>
                    <label for="description" class="block font-bold mb-3">Descripción</label>
                    <textarea id="description" pTextarea required rows="3" cols="20"
                        fluid formControlName="descripcion"></textarea>
                </div>

               

                <div>
                    <span class="block font-bold mb-4">Categoria</span>
                    <div class="grid grid-cols-12 gap-4">
                        @for (cat of categorias(); track $index) {

                            <div class="flex items-center gap-2 col-span-6">
                                <p-radiobutton [id]="`category${$index}`" name="category" [value]="cat['id']"
                                formControlName="categoria" />
                                <label [for]="`category${$index}`">{{cat['nombre']}}</label>
                            </div>
                        }
                    </div>
                </div>

                <div class="grid grid-cols-12 gap-4">
                    <div class="col-span-6">
                        <label for="price" class="block font-bold mb-3">Precio Actual</label>
                        <p-inputnumber id="price" mode="currency" currency="USD"
                            locale="en-US" fluid formControlName="precio_venta_actual" />
                    </div>
                    <div class="col-span-6">
                        <label for="marca" class="block font-bold mb-3">Marca</label>
                        <input type="text" pInputText id="marca" required autofocus fluid formControlName="marca" />
                    </div>
                </div>
            </div>
        </ng-template>

        <ng-template #footer>
            <p-button label="Cancelar" icon="pi pi-times" text />
            <p-button label="Guardar Producto" icon="pi pi-check" (click) ="funGuardarProducto()" />
        </ng-template>
    </p-dialog>

    <p-dialog [(visible)]="productImagenDialog" [style]="{ width: '450px' }" header="Actualizar Imagen" [modal]="true">
        <ng-template #content>

            <div class="flex flex-col gap-6" >
                <div>
                    <p-fileupload name="demo[]" (uploadHandler)="funSubirImagen($event)" [customUpload]="true" accept="image/*" maxFileSize="1000000" mode="advanced">
                        <ng-template #empty>
                            <div>Arrastrar y soltar aqui para subir una imagen.</div>
                        </ng-template>
                    </p-fileupload>
                </div>
            </div>
        </ng-template>

        <ng-template #footer>
            <p-button label="Cancelar" icon="pi pi-times" text />
            <p-button label="Guardar Imagen" icon="pi pi-check" (click) ="funGuardarProducto()" />
        </ng-template>
    </p-dialog>


</div>